* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background: #020617;
  position: sticky;
  top: 0;
  z-index: 9999; /* WAJIB */
}

nav h2 {
  color: #38bdf8;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav a {
  color: #e5e7eb;
  text-decoration: none;
}

nav a:hover {
  color: #38bdf8;
}

.hero {
  text-align: center;
  padding: 100px 10%;
}

.hero span {
  color: #38bdf8;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: #38bdf8;
  color: black;
  border-radius: 25px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.05);
}

section {
  padding: 80px 10%;
  position: relative;
  z-index: 1;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  margin-top: 30px;
}

.card {
  background: #020617;
  padding: 25px;
  border-radius: 15px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(56,189,248,0.3);
}

footer {
  text-align: center;
  padding: 30px;
  background: #020617;
  font-size: 14px;
}
