body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  padding: 30px;
}

header {
  text-align: center;
  background: #4f46e5;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

section {
  background: white;
  padding: 20px;
  margin-top: 15px;
  border-radius: 10px;
}
